{% extends 'base.html' %} {% block head %}
<title>Register</title>
{% endblock %} {% block body %}
<nav
  class="navbar navbar-expand-sm navbar-dark"
  style="
    background: linear-gradient(
      90deg,
      rgba(233, 14, 51, 1) 0%,
      rgba(91, 154, 222, 1) 69%,
      rgba(7, 204, 244, 1) 100%
    );
  "
>
  <a href="#" class="navbar-brand">Kanto Shelter</a>

</nav>


<div class="container-fluid bg">
  <div class="row">
    <div class="col-lg-4 col-md-2 col-sm-2 col-xs-2"></div>
    <div class="col-lg-4 col-md-8 col-sm-8 col-xs-8">
      <!--Form Start-->
      <form action="/register" class="form-container" method="POST">
        <h1 class="text-center">Sign-up Form</h1>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" name="trainer" id="username" aria-describedby="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-block" id="register-btn">Register</button>
        <div class="border-line"></div>
        <hr style="width: 60%;">
        <p class="text-center">
          Already have an account? <a href="{{ url_for('login') }}">Login!<i class="fas fa-sign-in-alt" id="sign-in"></i></a>
        </p>
      </form>
      <!--Form End-->
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12"></div>
  </div>
</div>






<!--
<form
  action="/register"
  class="main-form needs-validation"
  method="post"
  novalidate
>
  <div class="container">
    <div class="row">
      <div class="col-md-4 align-self-">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            name="trainer"
            id="username"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid username.</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            class="form-control"
          />
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Already have an account? Sing-in</p>
        </div>
    </div>
  </div>


</form>
-->
<!--
<form action="/register" method="post">
  <input type="text" name="trainer" id="trainer" value="Username" />
  <input type="password" name="password" id="password" value="Password" />
  <input type="submit" value="Submit" />
</form>
-->
{% endblock %}
